body {
    font-family: "Open Sans",Helvetica,Arial,sans-serif;
    width: 50vw;
    border: 1px solid rgb(207, 204, 204);
    padding: 1em;
    margin: 3em auto;
}
h1 {
    border-top: 1px solid grey; 
    border-bottom: 1px solid grey; 
    padding: 0.25em;
}
ul:nth-child(1) {
    display: flex;
    justify-content: space-around;
    background-color: gray;
    margin: 0em;
    padding:0.5em 0em;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
ul:nth-child(1) li {
    list-style: none;
}
ul:nth-child(1) a {
    text-decoration: none; 
    color: white;
}
img{
    width:475px;
}
iframe{
    width: 475px;
    height: 416px;
}